env/custom_env/data/1ramp_1x3/induction_loop_data
env/custom_env/data/1ramp_1x3/tripinfo.xml
env/custom_env/data/1ramp_1x3/1ramp_1x3.rou.xml

# Ignore log data and img folders
logs/test/*
logs/evaluation/*
logs/train/*
evaluation/notebooks/plots
.ipynb_checkpoints/

# SUMO outputs
env/custom_env/data/1ramp_1x3/induction_loop_data/
env/custom_env/data/1ramp_1x3/tripinfo.xml

# Python specific
__pycache__/


# Distribution / packaging
*.egg-info/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

.venv
.mypy_cache/
.ruff_cache/
.cursor/
.pytest_cache/
.codex/
.agents
tripinfo_runs/
